PORT=3005
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=deltastore_db
JWT_SECRET=tu_secreto_super_seguro_jwt
PAYPAL_CLIENT_ID=sandbox_client_id
STORE_PHONE=+50588889999
STORE_CITY=Juigalpa, Chontales
FREE_SHIPPING_CITY=Juigalpa
